.control__btn{
margin: 20px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

background-color: rgba(19, 19, 18, 0.342);
text-decoration: whitesmoke;
font-display: serif;
border-top-left-radius: 60px;
border-top-right-radius: 60px;
box-sizing: 80px;
font-size: 40px;
padding: 5px;


}

.h1 {

  background-color: lightblue;
  font-stretch: lightblue;

}

.reset{
  
  font-size: 40px;
  border-radius: 10px;
  border-style: 10px;
  text-shadow: 70px;
  background-color: whitesmoke;



}


.body{
  content: center
  ;
}
*{
  background-color: rgb(71, 119, 202);
}

.counter__output{
font-size:70px;

justify-content: center;
}

.counter{
  
  height: 100%;
  width: 100%;

  text-align: center;

}








